.contact {
  background: #000;
  color: #fff;
  min-height: 90vh; /* Minimum height of the container */
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
}

.contact-section {
  margin: 80px;
}

.contact-header {
  text-align: center;
  padding-top: 30px;
}
.contact-header h1 {
  font-size: 50px;
  font-weight: 500;
}

.my-form {
  display: flex;
  justify-content: space-around;
  height: auto;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 25px 15px;
}
.form-group {
  display: flex;
  gap: 20px;
}
.form-group input {
  padding: 10px 15px;
  color: #fff;
  background: #000;
  border: 1px solid #fff;
}
.msg-area textArea {
  width: calc(100% - 30px);
  height: 18vh;
  padding: 10px 15px;
  color: #fff;
  background: #000;
  border: 1px solid #fff;
}
.send-btn {
  padding: 10px 15px;
  width: 25%;
  color: #fff;
  background: #000;
  border: 1px solid #fff;
  cursor: pointer;
}
