.project-section {
  margin: 80px;
}

.project-header {
  text-align: center;
}
.project-header h1 {
  font-size: 50px;
  font-weight: 500;
}
.project-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}

/* --------media query ---------*/
@media only screen and (max-width: 775px) {
  .project-section {
    margin: 10px;
  }
}

@media only screen and (max-width: 650px) {
  .project {
    margin: 0;
    padding: 80px 0;
  }
  .project-section {
    margin: 10px;
  }
}
@media only screen and (max-width: 450px) {
  .project {
    margin: 0;
    padding: 80px 0 0 0;
  }
  .project-section {
    margin: 10px;
  }
}
