@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap");
.App {
  margin: 0;
  padding: 0;
  font-family: "Mukta";
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
}
#home,
#aboutme,
#skills {
  max-width: 1250px;
  max-height: 150vh;
  background: #ffffff;
  color: #000000;
  margin: auto;
}

#project,
#blogs,
#contacts {
  max-width: 1250px;
  margin: auto;
  background: #ffffff;
  color: #000000;
}
